*{
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}


body{
    background-image: url(./img/footer.jpg);
    background-color: black;
    color: white;
    height: auto;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}
#about{

    text-align: center;
    font-family:  'Zen Kurenaido', sans-serif;
    
   
    
    
}
.main-content{
    
    height: 800px;
}
.content{
  
    display: flex;
    padding: 30px;
    scroll-behavior: smooth;
    
    
   
    
    
}
.content-txt{
    font-family: 'Dancing Script', cursive;
    display:flex;
    justify-content: space-between;
  
}
.content-dots{
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 80vw;
}
.content-txt h1{
    margin: -30px 0px 20px 0px;
    font-size: 2.3rem;
}
.content img{
    width: 100%;
    height:auto;
}

.content-img h2{
    text-align: center;
    
}

#connect{
   font-family:  'Zen Kurenaido', sans-serif;
   font-style: italic;
    text-align: center;
    margin-top:150px; 
   
}
.content-icon{
  text-align: end;
  justify-content:end;

}

.content-icon ul{
   text-decoration: none;
   color: black;
   font-family: 'Zen Kurenaido', sans-serif;
   padding: 10px;
}
.content-icon li{
    font-size: 2rem;
    padding: 10px;
    
}
.content-icon a{
text-decoration: none;
color: white;
}
.socials{
    
  display: flex;
  justify-content: space-around;
  margin-bottom:-200px;

  
 
   
}
.social-link{

    text-align: center;

    
   
    


}

.social-link:hover{
    background-color:white;
    color: black;
    
    
}




#dropdown{
    
    display:none;
    list-style: none;
    font-family: 'Dancing Script', cursive;
    
    

}

#dropdown ul{
    
    background:black;   
    

}

#toggle-btn{
    justify-content: flex-end;
    margin-left: 150px;
    border: 1px solid;
    border-radius: 20px;
}

#toggle-btn button{
    color: black;
    justify-content: flex-end;
    
   
    

}

#toggle-btn:hover{
    background-color: burlywood;
    
}
    
#dropdown{
    padding: -10px;
    margin-top:10px !important;
    width: 250px;
  
    

}
#dropdown a:hover{
    color: black;
    font-size: 2.5rem;
}

#dropdown li:hover{
   
    width: 300px;
    background-color:white;
    transition: all 0.5s ease-in;
    color: black;
    
    
}
#dropdown a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100px;
    


}

#dropdown li{
    border: 1px solid;
    margin: 20px;
    text-align: center;
}
.contact-form{
    
    align-items: center;
    display: flex;
    justify-content: center;
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7))
}


form{
    width: 60vw;
    height: 800px;
    text-align: center;
   margin-top: 200px;
    color: rgb(235, 231, 231);
    font-family:  'Zen Kurenaido', sans-serif;
   
  
    
}
#my-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;
   
    
    box-shadow: 10px 10px 10px #ffffff,
                10px -10px 5px #ffffff;
                border-radius: 40px;

}
#my-form input{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    color: black;

background:rgb(104, 104, 104);
box-shadow: 6px -6px 5px rgb(218, 214, 214),
            -6px 6px 20px white;
}


#send{
    border: none;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    color: black; 

background:rgb(104, 104, 104);
box-shadow: 6px -6px 5px rgb(218, 214, 214),
            -6px 6px 20px white;
}

@media screen and (max-width:420px){
   
   
   .content{
       display:flex;
       flex-direction: column;
       width:100vw;
   }
   .content-dots{
       display: flex;
       flex-direction: column;
       width: 100vw;
     
   }
   #about{
       margin: 20px;
   }

   #dots li{
       font-size: 1.5rem;
       padding: 5px;
   }

   #dots{
      background-color: black;
      margin:0px;
   }

   form{
       width: 70vw;
       height: 800px;
        padding: 0 !important;
    text-align: center;
     
    color: rgb(235, 231, 231);
    font-family:  'Zen Kurenaido', sans-serif;
       
   }
   #my-form{
    
    margin-top: 200px;
   
   }
   #connect{
       padding: 10px;
       margin-top: 30px;
       
   }
   
}